body {
  font-family: Arial, sans-serif;
  text-align: left;
  margin: 40;
  padding: 40;
  background-color: #EFFAD3;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  font-family: Calibri;
  margin-top: 40px;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  color: #86AC2C;
}

.content {
  margin: 30px;
}

.bold {
  font-weight: bold;
}

.small-bold {
  font-size: 18px;
  font-weight: bold;
}

.map-image,
.turn-image,
.logo {
  max-width: 40%;
  height: auto;
  margin-top: 20px;
  margin: 30px auto;
  display: block;
}

.turn-image {
  max-width: 35%;
}

.contact {
  margin-top: 20px;
  font-weight: bold;
}

.find-house-msg {
  font-family: Calibri;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #729A16;
}
