  body {
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 40;
    padding: 40;
    background-image: url('assets/transp2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .header {
    font-family: Calibri;
    margin-top: 40px;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: #86AC2C;
  }
  .content {
    margin: 30px;
  }
  .bold {
    font-weight: bold;
  }
  .small-bold {
    font-size: 18px;
    font-weight: bold;
  }
  .map-image {
    max-width: 60%;
    height: auto;
    margin-top: 20px;
    margin: 30px auto;
    display: block;
  }
  .turn-image {
    max-width: 55%;
    height: auto;
    margin-top: 20px;
    margin: 30px auto;
    display: block;
  }
  .contact {
    margin-top: 20px;
    font-weight: bold;
  }
  .logo {
    max-width: 7%;
    height: auto;
    margin: 30px auto;
    display: block;
  }
  .enjoy-msg {
    font-family: Calibri;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .find-house-msg {
    font-family: Calibri;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #729A16;
  }
